<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Exchange with API</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="currency.js"></script>
    <script src="chart.js"></script>
    <script src="changeVisibleById.js"></script>
</head>
<body>

<div class="jumbotron text-center">
    <h1>Currency rate information</h1>
    <p>Choose currency and check exchange rates</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Choose currency</h3>

            <select class="text-primary" id="currency" name="currencyName">
                <option th:each="currency : ${currencies}" th:value="${currency.code}" th:text="${currency.currency}">
                </option>
            </select>
            <button onclick="changeVisibleById('historyDiv', 'visible'), currencyApi(document.getElementById('currency').value), chart(document.getElementById('daysCount').value,document.getElementById('currency').value)" type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-4">
            <h3 id="currency1"></h3>
            <p id="exchange-rate"></p>
        </div>
        <div class="col-sm-4">
            <h3>Last days</h3>
            <canvas id="myChart" width="600" height="500"></canvas>
            <div id="historyDiv" style="visibility:hidden">
                <p style="display:inline">Liczba dni historii: </p>
                <select class="text-primary" id="daysCount" name="daysCount" style="display: inline" onchange="chart(document.getElementById('daysCount').value,document.getElementById('currency').value)">
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15" selected="selected">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                </select>
            </div>
        </div>
    </div>
</div>
